:root {
    --custom-font: "Permanent Marker", serif;
    --primary-color: rgb(84, 117, 94);
    --header-color: rgb(150, 171, 156);
    --font-family: 'Garamond', serif;
}
body {
    background-color: color(display-p3 0 0.325 0.407 / 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#random-form {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 30px; 
    max-width: 300px;
    width: 100%;
    border-radius: 10%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
}

textarea {
    min-height: 55px;
    resize: none;
    overflow: hidden;
}

label, output {
    font-family: var(--font-family);
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

label[for="name"]::after,
label[for="email"]::after {
    font-size: 1rem;
    content: " *";
    color: rgb(171, 45, 36);
    font-weight: bold;
}

output {
    font-size: 1.3rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

nav > a {
    color: var(--header-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

nav a:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

#email:placeholder-shown {
    border-width: 0px;
}

#email:invalid:not(:placeholder-shown) {
    border-width: 1px;
    border-color: red;
}